<%
  title = 'Browse Happy';
%>

<h1>Upgrade your browser today!</h1>
<p>Using an outdated browser makes your computer unsafe. Please install one of the following alternate browsers:</p>

<ul>
  <li><a href="http://www.google.com/chrome">Google Chrome</a></li>
  <li><a href="http://www.firefox.com">Mozilla Firefox</a></li>
</ul>
